<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" routerLink="/home">Online ticket reservation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ng-container *ngIf="!userS.isLogged">
        <ul class="navbar-nav mr-auto">
  
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Prijavljivanje</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register" routerLinkActive="active">Registracija</a>
          </li>
        </ul>
      </ng-container>
      <ng-container *ngIf="userS.isLogged">
        <ul class="navbar-nav mr-auto">
  
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Pretraga letova</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/history" routerLinkActive="active">Istorija</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/settings" routerLinkActive="active">Podešavanja</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" (click)="logout()" routerLinkActive="active">Odjava</a>
          </li>
        </ul>
      </ng-container>
        
    </div>
  </nav>