
  <div id="page">
  <h1><span class="blue">&lt;</span><span class="blue"></span> <span class="yellow"></span></h1>
    <h2><a href="http://pablogarciafernandez.com" target="_blank"></a></h2>
    
    <table class="container">
      <thead>
        <tr>
          <th *ngFor="let h of header">
            <h1>{{h}}</h1>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let l of lets">
          <td>{{l.oznakaLeta}}</td>
          <td>{{l.aviokompanija.nazivKompanije}}</td>
          <td>{{l.podaciLeta.datumPolaska | date}}</td>
          <td>
            <button class="btn btn-primary" 
                    data-toggle="modal" 
                    data-target="#exampleModalCenter" 
                    type="button" 
                    (click)="showDetails(l.idLet)">Detalji leta</button>
          </td>
        </tr>
      </tbody>
    </table>
    <br><br><br>
    <div [style.visibility]="povratniLets != null ? 'visible' : 'hidden'">
      <h1>
        <span class="blue">Prikaz povratnih letova</span>
      </h1>
      <br><br><br>
      <table class="container">
        <thead>
          <tr>
            <th *ngFor="let h of header">
              <h1>{{h}}</h1>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of povratniLets">
            <td>{{l.oznakaLeta}}</td>
            <td>{{l.aviokompanija.nazivKompanije}}</td>
            <td>{{l.podaciLeta.datumPolaska | date}}</td>
            <td>
              <button class="btn btn-primary" 
                      data-toggle="modal" 
                      data-target="#exampleModalCenter" 
                      type="button" 
                      (click)="showDetails(l.idLet)">Detalji leta</button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
  </div>

  <!-- MODAL DIALOG -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Prikaz detalja leta</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
          <button type="button" class="btn btn-primary">Dalje</button>
        </div>
      </div>
    </div>
  </div>